<!-- 
	* This modified template file is referenced to coreui.io, 
	* along with other third-party stylesheets and javascript files.
	* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs è‰ukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta information used for SEO -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
	<meta name="author" content="Neighborrow">
	<meta name="keyword" content="Borrow, Lend, CSC444">
	<%= csrf_meta_tags %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<title>Neighborrow - Blank</title>

	<!-- CSS files for third-party icons-->
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	<!-- Base stylesheets & third-party stylesheets-->
	<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

	<!-- Customized stylesheet goes here-->

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show" data-turbolinks="false">
	<header class="app-header navbar" style="width:100%" id="headerModule">

	</header>
	<div class="app-body">
		<div class="sidebar" id="menuModule"></div>

		<main class="main">
			<span id="subHeaderModule"></span>

			<div class="container-fluid">
				<!-- Main section - Codes for main functionalities in this block -->
				<h2>Settings</h2>
				<hr>
					
				<div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-edit"></i>Profile</div>
                  <div class="card-body">
                    <form class="form-horizontal">
						<div class="progress-group">
							<div class="progress-group-header">
								<i class="cui-user progress-group-icon"></i>
								<div>Male</div>
								<div class="ml-auto font-weight-bold">43%</div>
							</div>
							<div class="progress-group-bars">
								<div class="progress progress-xs">
									<div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
									 aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<br>
	                    
                    	<div class="form-group">
	                      <label for="username">User Name</label>
	                      <input class="form-control" id="username" type="text" value=<%= @profile.display_name %>>
	                    </div>
	                    <div class="form-group">
	                      <label for="email">Email Address</label>
	                      <input class="form-control" id="email" type="text" value=<%= @profile.email %>>
	                    </div>
	                    <div class="form-group">
	                      <label for="phoneNumber">Phone Number</label>
	                      <input class="form-control" id="phoneNumber" type="text" value="+1 (647)123-45678">
	                    </div>
	                    <div class="form-group">
	                      <label for="street">Street</label>
	                      <input class="form-control" id="street" type="text" placeholder="Enter street name">
	                    </div>
	                    <div class="row">
	                      <div class="form-group col-sm-8">
	                        <label for="city">City</label>
	                        <input class="form-control" id="city" type="text" placeholder="Enter your city">
	                      </div>
	                      <div class="form-group col-sm-4">
	                        <label for="postal-code">Postal Code</label>
	                        <input class="form-control" id="postal-code" type="text" placeholder="Postal Code">
	                      </div>
	                    </div>
	                    <div class="form-group">
	                      <label for="country">Country</label>
	                      <input class="form-control" id="country" type="text" placeholder="Country name">
	                    </div>
	                    
	                    
	                  
	                    
	                    
                    	<div class="form-group">
                    		<label class="col-form-label" for="file-input">Interested Categories</label>
		                    <div class="btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-info active">
							    <input type="checkbox" checked="checked" class="form-check-input"> Toys
							  </label>
							  <label class="btn btn-info ">
							    <input type="checkbox" checked autocomplete="off"> Fashion
							  </label>
							  <label class="btn btn-info active">
							    <input type="checkbox" checked="checked" autocomplete="off"> Garden
							  </label>
							  <label class="btn btn-info active">
							    <input type="checkbox"  autocomplete="off"> Pets
							  </label>
							  <label class="btn btn-info active">
							    <input type="checkbox" checked="checked" autocomplete="off"> Technology
							  </label>
							  <label class="btn btn-info ">
							    <input type="checkbox"  autocomplete="off"> Home
							  </label>
							  <label class="btn btn-info ">
							    <input type="checkbox" checked="checked" hidden autocomplete="off"> Beauty
							  </label>							  
							</div>
	                    </div>
	                    
						<div class="form-group">
	                        <label class="col-form-label" for="file-input">Profile Picture</label>
	                        <br>
	                        <input id="file-input" type="file" name="file-input">
	                    </div>
                      
                      <div class="form-actions">
                        <button class="btn btn-primary pull-right" type="submit" >Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->	
            
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-edit"></i>Password</div>
                  <div class="card-body">
                    <form class="form-horizontal">
                    	<div class="form-group">
							<label for="password">Original Password</label>
							<input class="form-control" type="password" name="account[oldpassword]" id="password" placeholder="********" required />
						</div>
                    	<div class="form-group">
							<label for="password">New Password</label>
							<input class="form-control" type="password" name="account[password]" id="password" placeholder="********" required />
						</div>
							
						<div class="form-group">
							<label for="passwordRepeat">Repeat New Password</label>
							<input class="form-control" type="password" name="account[password_confirmation]" id="password" placeholder="********" required />
						</div>
                      <div class="form-actions">
                        <button class="btn btn-primary pull-right" type="submit">Change Password</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->	
            
            
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-edit"></i>Security Options</div>
                  <div class="card-body">
                    <form class="form-horizontal">
                    	<div class="form-group">
                        <label class="col-form-label">Allow below groups to see your items</label>
                        <div class="col-form-label">
                          <div class="form-check checkbox">
                            <input class="form-check-input" id="check1" type="checkbox" value=" " checked>
                            <label class="form-check-label" for="check1">Friends</label>
                          </div>
                          <div class="form-check checkbox">
                            <input class="form-check-input" id="check2" type="checkbox" value="" checked>
                            <label class="form-check-label" for="check2">Registered Users</label>
                          </div>
                          <div class="form-check checkbox">
                            <input class="form-check-input" id="check3" type="checkbox" value="">
                            <label class="form-check-label" for="check3">Visitors</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button class="btn btn-primary pull-right" type="submit">Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->	
            
            
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-6">
										<strong class="text-muted">Profile</strong><br>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-8">
										<div class="row">
											<div class="col-lg-12">
												<div class="progress-group">
													<div class="progress-group-header">
														<i class="cui-user progress-group-icon"></i>
														<div>Male</div>
														<div class="ml-auto font-weight-bold">43%</div>
													</div>
													<div class="progress-group-bars">
														<div class="progress progress-xs">
															<div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
															 aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12">
												<strong>User Name: </strong>
												<a>John Doe</a>
												<button type="button" class="btn btn-link">Edit</button>												
											</div>
											<br>
											<div class="col-lg-12">
												<strong>Email Address: </strong>
												<a><%= @account.email %></a>
												<button type="button" class="btn btn-link">Edit</button>												
											</div>
											<br>
											<div class="col-lg-12">
												<strong>Phone Number: </strong>
												<a>+1 (647)123-45678</a>
												<button type="button" class="btn btn-link">Edit</button>												
											</div>
											<br>
											<div class="col-lg-12">
												<strong>Password: </strong>
												<a>********</a>
												<button type="button" class="btn btn-link">Edit</button>												
											</div>
											<br>
											<div class="col-lg-12">
												<strong>Address: </strong>
												<a>#1, 123 Avenue, Toronto, ON, Canada A1B 2C3</a>
												<button type="button" class="btn btn-link">Edit</button>												
											</div>
											<br>
											<div class="col-lg-12">
												<strong>Interested Categories: </strong>
												<br>
												<div class="row">
													<div class="col-lg-1"> </div>
													<div class="col-lg-11">
														<button type="button" class="btn btn-info"><span class="cui-contrast"></span> Toys</button>
														<button type="button" class="btn btn-warning"><span class="cui-contrast"></span> Fashion</button>
														<button type="button" class="btn btn-success"><span class="cui-contrast"></span> Garden</button>												
														<button type="button" class="btn">
													  		<i class="cui-plus">+</i>
														</button>	
													</div>
												</div>							
											</div>
											<br>			
											<div class="col-lg-12">
												<strong>Third-Party Links: </strong>
												<br>
												<div class="row">
													<div class="col-lg-1"> </div>
													<div class="col-lg-11">
														<button type="button" class="btn btn-brand btn-facebook">
														  <i class="fa fa-facebook"></i>
														</button>
														<button type="button" class="btn btn-brand btn-twitter">
														  <i class="fa fa-twitter"></i>
														</button>
														<button type="button" class="btn btn-brand btn-instagram">
														  <i class="fa fa-instagram"></i>
														</button>
														<button type="button" class="btn btn-brand btn-google">
														  <i class="fa fa-google"></i>
														</button>
														<button type="button" class="btn">
														  <i class="cui-plus">+</i>
														</button>								
													</div>					
												</div>
											</div>		
											<br>		
										</div>
										<hr>
										<div class="row">
											<div class="col-lg-12 ">
												<strong>Security Options: </strong>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-lg-1"> </div>
											<div class="col-lg-11">
												<a>Allow below groups to see your items:</a> 				
											</div>					
										</div>
										<br>
										<div class="row">
											<div class="col-lg-1"></div>		
											<div class="col-lg-11">
												<label  class="switch switch-sm switch-pill switch-info">
												  <input type="checkbox" class="switch-input" checked>
												  <span class="switch-slider"></span>
												</label>	
												<label>Friends</label>	
												&nbsp&nbsp&nbsp
												<label  class="switch switch-sm switch-pill switch-info">
												  <input type="checkbox" class="switch-input" checked>
												  <span class="switch-slider"></span>
												</label>	
												<label>Registered Users</label>	
												&nbsp&nbsp&nbsp
												<label  class="switch switch-sm switch-pill switch-info">
												  <input type="checkbox" class="switch-input" checked>
												  <span class="switch-slider"></span>
												</label>	
												<label>Visitors</label>	
											</div>		
										</div>
									</div>
									
									<div class="col-lg-4 text-center" >
										<div class="col-12 text-center">
											<img class="img-thumbnail" style="width:75px;" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/M%C3%BCnze_Niederl%C3%A4ndische_Ostindien_Companie.jpg">
											<br>
											<button type="button" class="btn btn-link">Change Profile Picture</button>		
										</div>
										
									</div>
								</div>
							</div>
						</div>
				</div>
				
			</div>
		</main>
	</div>

	<footer class="app-footer" id="footerModule"></footer>



	<!-- CoreUI and other third-party plugins (js files) -->
	<script src="/vendors/jquery/js/jquery.min.js"></script>
	<script src="/vendors/popper.js/js/popper.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendors/pace-progress/js/pace.min.js"></script>
	<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>

	<!-- Customized Javascript file goes here -->
	<script src="/assets/js/dashboard-init.js"></script>
	<script src="/assets/js/transaction_borrowed.js"></script>

</body>

</html>
