
<!DOCTYPE html>
<html lang="en">

<head>
	#<!-- Meta information used for SEO -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
	<meta name="author" content="Neighborrow">
	<meta name="keyword" content="Borrow, Lend, CSC444">
	<title>Neighbor
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<%= stylesheet_link_tag 'album.css' %>

</head>

<body>

<section class="jumbotron text-center">

</section>



<!-- Page Content -->
<div class="container">


<!-- Portfolio Item Row -->
<div class="row">

<div class="col-md-8">
<%= image_tag("#{@item.id}.jpg",width: 500, height: 500) %>
</div>

<div class="col-md-4">
<h3 class="my-3"><%= @item.name %></h3>
<p><%= @item.description %></p>
<h3 class="my-3">Project Details</h3>
<ul>
<li>some stuff about the item</li>
<%= link_to 'Borrow', '/borrow',   class: "btn btn-primary" %>
</ul>
</div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<h3 class="my-4">Related Projects</h3>

<div class="row">

<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="http://placehold.it/500x300" alt="">
</a>
</div>

<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="http://placehold.it/500x300" alt="">
</a>
</div>

<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="http://placehold.it/500x300" alt="">
</a>
</div>

<div class="col-md-3 col-sm-6 mb-4">
<a href="#">
<img class="img-fluid" src="http://placehold.it/500x300" alt="">
</a>
</div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
</div>
<!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
row - Blank</title>
	
	#<!-- CSS files for third-party icons-->
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
	
	#<!-- Base stylesheets & third-party stylesheets-->
	<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

	#<!-- Customized stylesheet goes here-->
	<link href="/items.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show">
	<header class="app-header navbar" style="width:100%" id="headerModule">
		
	</header>
	<div class="app-body">
		<div class="sidebar" id="menuModule"></div>

		<main class="main">
			<span id="subHeaderModule"></span>
			
			<div class="container-fluid">
				#<!-- Main section - Codes for main functionalities in this block -->
				
				<%= form_with scope: :item, url: items_path, local: true do |form| %>

					<% if @item.errors.any? %>
						<div id="error_explaination">
							<h2>
							<%= pluralize(@item.errors.count, "error") %>
							prohibited this article being saved:
							</h2>
							<ul>
								<% @item.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
								<% end %>

							</ul>
						</div>
					<% end %>

					<p>
						<%= form.label :title %><br>
						<%= form.text_field :title %>
					</p>
					<p>
						<%= form.label :text %><br>
						<%= form.text_area :text %>
					</p>

					<p>
						<%= form.submit %>
					</p>
					<% end %>
			</div>
		</main>
	</div>
	
	<footer class="app-footer" id="footerModule"></footer>



	#<!-- CoreUI and other third-party plugins (js files) -->
	<script src="/vendors/jquery/js/jquery.min.js"></script>
	<script src="/vendors/popper.js/js/popper.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendors/pace-progress/js/pace.min.js"></script>
	<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>

	#<!-- Customized Javascript file goes here -->
	<script src="/assets/js/dashboard-init.js"></script>
	<script src="/items.js"></script>

</body>

</html>
