
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
                <title>Exporso - Product Details Sidebar</title>
                <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                        <!-- Favicon -->
                        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
                            
                            <!-- all css here -->
                            <%= stylesheet_link_tag 'style.css' %>
                           
                            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %> <%=
                                javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                            <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
                            
                            <!-- Calendar related -->
                            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <style type="text/css">
        .column-text-light{
            font-size: 14px !important;
            color: #f4f4f4 !important;
            font-weight: 100 !important;
        }
        .column-text-dark{
            font-size: 14px !important;
            font-weight: 100 !important;
            margin-left:3em !important;
        }
        .modal-header {
            background-color: rgba(128, 198, 185, 0.89);
            color: white;
        }
        .modal-title {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-weight: 200
        }

    </style>
    <body>
        <!-- Add your site or application content here -->
        <div class="exporso_wrapper">
            
            <!--product Details Inner-->
            <div class="product_details_inner left_sidebar ptb-60 border-top ">
                <%= render 'layouts/department_list' %>
                
                <div class="container border-bottom">
                    <% flash.each do |key, value| %>
                    <div id="error_explanation">
                        
                        <div class="alert alert-danger">
                            <ul>
                                <li><%= content_tag :div, value, class: "flash #{key}" %></li>
                            </ul>
                        </div>
                        
                    </div>
                    <% end %>

                        <div class="container ptb-20"  style="padding-top:30px">
                            <div class="row">
                                <!--Product Tab Style start-->
                                <div class="col">
                                    <div class="product-details-img-content">
                                        <div class="product-details-tab">
                                            <div id="img-1" class="zoomWrapper single-zoom">
                                                <a href="#">
                                                    <%= image_tag("#{@item.photo_url}",width: 400, height: 400) %>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--Product Tab Style End-->
                                <div class="col">
                                    <div class="product-details-content">
                                        <h3><%= @item.name %></h3>
                                        <div class="rating-number">
                                            <div class="product_rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            </div>
                                            
                                        </div>
                                        <div class="price_amount">
                                            <span class="current_price"><%= "Condition: #{@item.condition}" %></span>
                                            <span class="discount_price">Hot</span>
                                        </div>
                                        
                                        <div class="price_amount">
                                            <span class="current_price"><%= "Available Times:" %></span><br>
                                                <span class="current_price"> <%= "#{@item.time_start} - #{@item.time_end}" %></span>
                                            
                                        </div>
                                        
                                        <br></br>
                                        
                                        <p><%= @item.description %></p>

                                        
                                        <div class="single_product_action d-flex align-items-center">
                                            
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                Borrow this now!
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Want to borrow this now?</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <% if not logged_in? %>
                                                                <p><h6> Are you new to our community? Join us today to become a Neighborrow insider ! </h6>
                                                                
                                                                <p><h6> Already have an account? </h6>
                                                                <%= link_to "Click here to Login", login_url %></p>

                                                            <% else %>
                                                            
                                                            <div class="row" >
                                                                <div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
                                                                    <input type="text" name="daterange" style="font-size:15px" id='date-input'/>
                                                                </div>
                                                            </div>
                                                            
                                                            <div>
                                                                <input type="submit" value="Request to borrow now!" onclick='btnRequest()'/>
                                                            </div>
                                                            <% end %>
    
                                                        </div>
                                                        
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br></br>
                                        <div class="product-share">
                                            <div class="share_label">
                                                <span>Posted by :</span>
                                                <% @owner = Account.find_by(email: @item.owner) %>
                                                <% @ownerProfile = Profile.find_by(email: @item.owner) %>
                                                <%= link_to "#{@ownerProfile.display_name}", controller: "public_profiles", action: "show", id:@owner.id %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
            <!--Google API section Start -->
            <div class="newsletter_section ptb-80 " style="padding-top:30px">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnpp7FDgcbpfqNskhkAR_Y2E_uMitVXd0
                    &q=place_id:ChIJ-bt_oLg0K4gRNNZIQRz78JA" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
            <!--Newsletter section end -->
            
            </footer>
            <!--Footer end-->
            
            
            
        </div>
        
        
        
        <!-- all js here -->
        
        <!-- Calendar related -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script src="/assets/js/item_show.js"></script>
        
        <script>
            $(function() {
              $('input[name="daterange"]').daterangepicker({
                                                           opens: 'left'
                                                           }, function(start, end, label) {
                                                           console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                                                           });
              });
            </script>

        
    </body>
</html>




