
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
                <title>Exporso - Product Details Sidebar</title>
                <meta name="description" content="">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                        <!-- Favicon -->
                        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
                            
                            <!-- all css here -->
                            
                            <%= stylesheet_link_tag 'bundle.css' %>
                            <%= stylesheet_link_tag 'style.css' %>
                           
                            
                            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %> <%=
                                javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                            <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
                            <!-- Calendar related -->
                            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <style type="text/css">
        .column-text-light{
            font-size: 14px !important;
            color: #f4f4f4 !important;
            font-weight: 100 !important;
        }
        .column-text-dark{
            font-size: 14px !important;
            font-weight: 100 !important;
            margin-left:3em !important;
        }
        .modal-header {
            background-color: rgba(128, 198, 185, 0.89);
            color: white;
        }
        .modal-title {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-weight: 200
        }

    </style>
    <body>
        <!-- Add your site or application content here -->
        <div class="exporso_wrapper">
            
            <!--product Details Inner-->
            <div class="product_details_inner left_sidebar ptb-60 border-top">
                <div class="row border-top border-bottom justify-content-center ptb-10" style="
                    background: rgba(46, 49, 49, 0.87);">
                    <!--Breadcrumb section end-->
                            <% categories.each do |cat| %>
                            <div class = "col text-center"><%= link_to "#{cat.name}", {:controller => "items", :action => "index", :cat_id => cat.id },{ :class=>"column-text-light" }  %></div>
                            <% end %>
                </div>
                <div class="row border-bottom justify-content-center ptb-10">
                    <!--Breadcrumb section end-->
                    <div class = "col"><%= link_to "Home", home_url,{ :class=>"column-text-dark" }  %>
                    <%= link_to "Categories", home_url,{ :class=>"column-text-dark" }  %>
                    <%= link_to "Item", home_url,{ :class=>"column-text-dark" }  %>
                    </div>
                    
                </div>
                
                <div class="container border-bottom">
                    <% flash.each do |key, value| %>
                    <div id="error_explanation">
                        
                        <div class="alert alert-danger">
                            <ul>
                                <li><%= content_tag :div, value, class: "flash #{key}" %></li>
                            </ul>
                        </div>
                        
                    </div>
                    <% end %>

                        <div class="container ptb-20">
                            <div class="row">
                                <!--Product Tab Style start-->
                                <div class="col">
                                    <div class="product-details-img-content">
                                        <div class="product-details-tab">
                                            <div id="img-1" class="zoomWrapper single-zoom">
                                                <a href="#">
                                                    <%= image_tag("#{@item.id}.jpg",width: 400, height: 400) %>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--Product Tab Style End-->
                                <div class="col">
                                    <div class="product-details-content">
                                        <h3><%= @item.name %></h3>
                                        <div class="rating-number">
                                            <div class="product_rating">
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            </div>
                                            <div class="review_count">
                                                <span>2 Ratting (S)</span>
                                            </div>
                                        </div>
                                        <div class="price_amount">
                                            <span class="current_price"><%= "Condition: #{@item.condition}" %></span>
                                            <span class="discount_price">Hot</span>
                                        </div>
                                        
                                        <div class="price_amount">
                                            <span class="current_price"><%= "Available Times:" %></span><br>
                                                <span class="current_price"> <%= "#{@item.time_start} - #{@item.time_end}" %></span>
                                            
                                        </div>
                                        
                                        <br></br>
                                        
                                        <p><%= @item.description %></p>

                                        
                                        <div class="single_product_action d-flex align-items-center">
                                            
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                Borrow this now!
                                            </button>
                                            
                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Want to borrow this now?</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <% if not logged_in? %>
                                                                <p><h6> Are you new to our community? Join us today to become a Neighborrow insider ! </h6>
                                                                <%= link_to "Click here to Sign Up", login_url %></p>
                                                                
                                                                <p><h6> Already have an account? </h6>
                                                                <%= link_to "Click here to Login", login_url %></p>

                                                            <% else %>
                                                            
                                                            <div class="row" >
                                                                <div class="col-9" style="background:white;padding-right:100px; padding-top:30px;">
                                                                    <input type="text" name="daterange" style="font-size:15px" id='date-input'/>
                                                                </div>
                                                            </div>
                                                            
                                                            <div>
                                                                <input type="submit" value="Request to borrow now!" onclick='btnRequest()'/>
                                                            </div>
                                                            <% end %>
    
                                                        </div>
                                                        
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br></br>
                                        <div class="product-share">
                                            <div class="share_label">
                                                <span>Share :</span>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="zmdi zmdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="zmdi zmdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="zmdi zmdi-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="zmdi zmdi-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Thumbnail Description Start -->
                            <div class="product_desc_tab_container mt-100 ">
                                
                                <div class="thumb-desc-inner">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="product_desc_tab nav" role="tablist">
                                                <li><a class="active" data-toggle="tab" href="#dtail">Description</a></li>
                                                <li><a data-toggle="tab" href="#review">Reviews 1</a></li>
                                            </ul>
                                            <!-- Product Thumbnail Tab Content Start -->
                                            <div class="tab-content thumb-content mt-30">
                                                <div id="dtail" class="tab-pane fade show active">
                                                    <p><%= @item.description %></p>
                                                </div>
                                                <div id="review" class="tab-pane fade">
                                                    <!-- Reviews Start -->
                                                    <div class="review">
                                                        <div class="group-title">
                                                            <h2>customer review</h2>
                                                        </div>
                                                        <ul class="review-list">
                                                            <!-- Single Review List Start -->
                                                            
                                                            <!-- Single Review List Start -->
                                                            <li>
                                                                <span>value</span>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <label>Posted on 12/20/18</label>
                                                            </li>
                                                            <!-- Single Review List End -->
                                                        </ul>
                                                    </div>
                                                    <!-- Reviews End -->
                                                    <!-- Reviews Start -->
                                                    <div class="review mt-20">
                                                        <h2 class="review-title mb-15">You're reviewing: <br><span>Faded Short Sleeves T-shirt</span></h2>
                                                        <p class="review-mini-title">your rating</p>
                                                        <ul class="review-list">
                                                            <!-- Single Review List Start -->
                                                            <li>
                                                                <span>Quality</span>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </li>
                                                            <!-- Single Review List End -->
                                                            <!-- Single Review List Start -->
                                                            <li>
                                                                <span>price</span>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </li>
                                                            <!-- Single Review List End -->
                                                            <!-- Single Review List Start -->
                                                            <li>
                                                                <span>value</span>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </li>
                                                            <!-- Single Review List End -->
                                                        </ul>
                                                        <!-- Reviews Field Start -->
                                                        <div class="riview-field mt-40">
                                                            <div class="review_comment_box_inner">
                                                                <form action="#">
                                                                    <div class="form-group">
                                                                        <label class="req" for="sure-name">Name</label>
                                                                        <input type="text" id="sure-name" required="required">
                                                                            </div>
                                                                    <div class="form-group">
                                                                        <label class="req" for="subject">Title of review</label>
                                                                        <input type="text"  id="subject" required="required">
                                                                            </div>
                                                                    <div class="form-group">
                                                                        <label class="req" for="comments">Your Review</label>
                                                                        <textarea rows="5" id="comments" required="required"></textarea>
                                                                    </div>
                                                                    <button type="submit" class="customer-btn">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- Reviews Field Start -->
                                                    </div>
                                                    <!-- Reviews End -->
                                                </div>
                                            </div>
                                            <!-- Product Thumbnail Tab Content End -->
                                        </div>
                                    </div>
                                    <!-- Row End -->
                                </div>
                            </div>
                            
            <!--Google API section Start -->
            <div class="newsletter_section ptb-80">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnpp7FDgcbpfqNskhkAR_Y2E_uMitVXd0
                    &q=place_id:ChIJ-bt_oLg0K4gRNNZIQRz78JA" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
            <!--Newsletter section end -->
            
            </footer>
            <!--Footer end-->
            
            
            
        </div>
        
        
        
        <!-- all js here -->
        
        <!-- Calendar related -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script src="/assets/js/item_show.js"></script>
        
        <script>
            $(function() {
              $('input[name="daterange"]').daterangepicker({
                                                           opens: 'left'
                                                           }, function(start, end, label) {
                                                           console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                                                           });
              });
            </script>
        
    </body>
</html>




