<!-- Universal Header -->
<style>
		.ui-autocomplete {
		  position: absolute;
		  z-index: 1030 !important;
		}
	  
		/***** Google Map Autocomplete****/
		/* Referenced to: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete */
		#item-searchbar-main-location,
		#controls {
		  position: relative;
		  width: 480px;
		  z-index: 1051 !important;
		}
		#autocomplete {
		  position: absolute;
		  top: 0px;
		  left: 0px;
		  width: 99%;
		  z-index: 1051 !important;
		}
		.label {
		  text-align: right;
		  font-weight: bold;
		  width: 100px;
		  color: #303030;
		  z-index: 1051 !important;
		}
		#address {
		  border: 1px solid #000090;
		  background-color: #f0f0ff;
		  width: 480px;
		  padding-right: 2px;
		  z-index: 1051 !important;
		}
		#address td {
		  font-size: 10pt;
		  z-index: 1051 !important;
		}
		.field {
		  width: 99%;
		  z-index: 1051 !important;
		}
		.slimField {
		  width: 80px;
		  z-index: 1051 !important;
		}
		.wideField {
		  width: 200px;
		  z-index: 1051 !important;
		}
		#locationField {
		  height: 20px;
		  margin-bottom: 2px;
		  z-index: 1051 !important;
		}
	  </style>
	  <link
      href="/vendors/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
	/>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
	

	
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
    <a class="navbar-brand" href="/">
	<img
	    class="navbar-brand-full"
	    src="../assets/img/logo.png"
	    height="35"
	    alt="Logo"
	  />										                                	
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item" style="padding-left:-30px">
                <div class="justify-content-md-center">
						<div class="form-inline my-2 my-lg-0">
								<input class="form-control mr-sm-2" id="_header_location" type="text" placeholder="Location" aria-label="Search" style="width: 150px;">
							
								<input class="form-control mr-sm-2 " type="text" id="_header_searchbar" placeholder="Search for items which you're looking for" aria-label="Search" style="width: 350px;" onkeyup="searchbarAjax_trigger(this)">
								
								<button class="btn btn-info my-2 my-sm-0" id="_header_searchSubmit" onclick="submit_search()">Search</button>
						</div>
                </div>
            </li>
            
        <!-- Logged in content in header -->
        <% if logged_in? %>
	        <div class="dropdown" style="padding-left:20px">
	          <%= image_tag Profile.find_by_email(current_user.email).avatar, :size => "25x25" %>
			  <a class="btn dropdown-toggle" style = "background-color: Transparent;border: none;" href="#" data-toggle="dropdown">
			    <%=Profile.find_by_email(current_user.email).display_name%> <b class="caret"></b>
			  </a>
						<ul class="dropdown-menu">
						<li class="dropdown-item"><a href="/user">Dashboard</a></li>
		            <li class="dropdown-item"><%= link_to "Profile", controller: "profiles", action: "update", id:current_user.id %></li>
		            <li class="dropdown-item"><%= link_to "Change Password", edit_account_path(current_user.id), method: :get, id:current_user.id %></li>
		            <li class="dropdown-item"><%= link_to "Settings", '#' %></li>
		            <li class="dropdown-item"><%= link_to "Log out", logout_path, method: :delete, style:'font-weight: bold;' %></li>
		        </ul>
			</div>
        	
            
        
        <!-- none logged in content in header -->
        <% else %>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/accounts/new">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mt-2 mt-md-0">
            <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span> </a>
            </li>
            </ul>
        <% end %>

    </div>
</div>
</nav>

<script>
	  function initAutocomplete() {
    var input = document.getElementById("_header_location");

    var options = {
      types: ["(cities)"]
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

    function checkScroll(){
    var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

    if($(window).scrollTop() > startY){
    $('.navbar').addClass("scrolled");
    $('.nav-link').addClass("scrolled");
    }else{
    $('.navbar').removeClass("scrolled");
    $('.nav-link').removeClass("scrolled");
    }
    }

    if($('.navbar').length > 0){
    $(window).on("scroll load resize", function(){
    checkScroll();
    });
	}
	


	  let keywordList_cache = new Array();
  $("#_header_searchbar").autocomplete({ source: keywordList_cache });

  let searchbarAjax_trigger = ptr => {
    if (ptr.value.length > 2) {
	  fetch("/search/keyword_prompt?input=" + ptr.value).then(response => {
		return response.json();
	  }).then(
		data => {
			if (data.result.length > 0) {
          
					(function(){
						keywordList_cache = data.result.map(x => x.name);
          $("#_header_searchbar").autocomplete("option", {
            source: keywordList_cache
					});
})();
        }
		}
	  )

    }
  };
  document
    .getElementById("_header_searchbar")
    .addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) {
        let geo = $("#_header_location")
          .val()
          .split(", ");
        window.location =
          "/result?keyword=" +
          $("#_header_searchbar").val() +
          "&city=" +
          geo[0] +
          "&province=" +
          geo[1] +
          "&country=" +
          geo[2];
      }
		});
		
		let submit_search = ()=>{
			let geo = $("#_header_location")
          .val()
          .split(", ");
        window.location =
          "/result?keyword=" +
          $("#_header_searchbar").val() +
          "&city=" +
          geo[0] +
          "&province=" +
          geo[1] +
          "&country=" +
          geo[2];
		}
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnpp7FDgcbpfqNskhkAR_Y2E_uMitVXd0&libraries=places&callback=initAutocomplete"
  async
  defer
></script>
