<!DOCTYPE html>
<html>
  <head>
    <title>Csc444project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Base stylesheets & third-party stylesheets-->
    <link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
    <%= stylesheet_link_tag 'carousel.css' %>
    <%= stylesheet_link_tag 'navbar.css' %>
  </head>
    
  <body>
      
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
