<!--
* This modified template file is referenced to coreui.io,
* along with other third-party stylesheets and javascript files.
* Source Repository: https://github.com/coreui/coreui-free-bootstrap-admin-template
-->

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<!DOCTYPE html>
<html>

<head>
<!-- Meta information used for SEO -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Neighborrow - Your Platform to Borrow and Lend">
<meta name="author" content="Neighborrow">
<meta name="keyword" content="Borrow, Lend, CSC444">
<%= csrf_meta_tags %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<title>Neighborrow - Blank</title>

<!-- CSS files for third-party icons-->
<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Base stylesheets & third-party stylesheets-->
<link href="/vendors/@coreui/coreui/css/style.css" rel="stylesheet">
<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

<!-- Customized stylesheet goes here-->

</head>

<%= stylesheet_link_tag "accounts" %>
<%= form_for @account, url: accounts_path do |f| %>
<%= render 'shared/error_messages' %>

<div class="signup__container">
<div class="container__child signup__thumbnail">
<div class="thumbnail__logo">

</div>
<div class="thumbnail__content text-center">
<h1 class="heading--primary">Welcome to Neighborrow.</h1>
<h2 class="heading--secondary">Are you ready to join us?</h2>
</div>
<div class="thumbnail__links">

</div>
<div class="signup__overlay"></div>
</div>

<div class="container__child signup__form">
<form action="#">

<div class="form-group">
<label for="email">Email</label>
<input class="form-control" type="text" name="account[email]" id="email" placeholder="example@neighborrow.ca" required />
</div>

<div class="form-group">
<label for="password">Password</label>
<input class="form-control" type="password" name="account[password]" id="password" placeholder="********" required />
</div>

<div class="form-group">
<label for="passwordRepeat">Repeat Password</label>
<input class="form-control" type="password" name="account[password_confirmation]" id="passwordRepeat" placeholder="********" required />
</div>

<div class="form-group">
<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
<label for="agree-term" class="label-agree-term">I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
</div>

<div class="m-t-lg">
<ul class="list-inline">
<li>
<%= f.submit class: "btn btn--form" %>
</li>
<% end %>

<li>
<a class="signup__link" href="#">I am already a member</a>
</li>

<div class="col-md-12">
<strong>Third-Party Links: </strong>
<br>
<div class="row">
<div class="col-md-1"> </div>
<div class="col-md-11">
<button type="button" class="btn btn-brand btn-facebook">
<i class="fa fa-facebook"></i>
</button>
<button type="button" class="btn btn-brand btn-twitter">
<i class="fa fa-twitter"></i>
</button>
<button type="button" class="btn btn-brand btn-google">
<i class="fa fa-google"></i>
</button>
</div>
</div>
</div>

</ul>
</div>
</form>
</div>
</div>
</html>

